$enable-caret: false;
// @import "~bootstrap/dist/css/bootstrap.css";

@import './variables';

body {
  margin: 0;
  font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: $bg-body;
}

a {
  text-decoration: none;
}

.dropdown-toggle-no-caret::after {
  display: none !important;
}